#
# https://help.github.com/articles/dealing-with-line-endings/
#
# These are explicitly windows files and should use crlf
*.bat           text eol=crlf
* text eol=lf

*.html          text diff=html
*.java          text diff=java
*.css           text diff=css

*.jar           binary
*.png           binary